@font-face {
   font-family: 'SB 어그로 B';
   font-display: swap;
   src: url('SB 어그로 B/font.ttf');
}
@font-face {
   font-family: 'GmarketSansTTFBold';
   font-display: swap;
   src: url('GmarketSansTTFBold/font.ttf');
}
@font-face {
   font-family: 'NEXON Lv2 Gothic Bold';
   font-display: swap;
   src: url('NEXON Lv2 Gothic Bold/font.ttf');
}
@font-face {
   font-family: 'NEXON Lv2 Gothic';
   font-display: swap;
   src: url('NEXON Lv2 Gothic/font.ttf');
}
@font-face {
   font-family: 'GmarketSansTTFMedium';
   font-display: swap;
   src: url('GmarketSansTTFMedium/font.ttf');
}
