@font-face {
   font-family: 'SB 어그로 B';
   font-display: swap;
   src: url('file:///C:/Users/%ED%95%B4%EC%98%A4%EB%A6%84/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-04_155359/fonts/SB%20%EC%96%B4%EA%B7%B8%EB%A1%9C%20B/font.ttf');
}
