@font-face {
   font-family: 'GmarketSansTTFBold';
   font-display: swap;
   src: url('file:///C:/Users/%ED%95%B4%EC%98%A4%EB%A6%84/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-04_155359/fonts/GmarketSansTTFBold/font.ttf');
}
